
body{
    margin:0px;
    padding:0px;
    background-color:F0F0F0;
    
}
h1{
    margin-left:780px;
    
}
#page{
    color:red;
    width:1200px;
    height:400px;
    background-color:#FF7171;
    margin-left:320px;
    margin:80px 320px ;
    padding:10px;
    border:2px solid black;
}

#red{
    width:110px;
    height:50px;
    font-size:large;
    border:2px solid darkred;
    margin-left: 676px;
    
}
#green{
    width:110px;
    height:50px;
    margin-left:100px;
    font-size:large;
    border:2px solid darkred;
}
#pink{
    width:110px;
    height:50px;
    margin-left:100px;
    font-size:large;
    border:2px solid darkred;
}
